/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Heineken'; /* Escolha um nome para a fonte */
  src: url('../src/assets/fonts/heineken2.ttf') format('truetype');
  font-weight: lighter !important;
  font-style: normal;
}

html, body { height: 100%; }

body {
  margin: 0; font-family: 'Heineken', sans-serif !important;  /* Use o mesmo nome escolhido acima */
}