mat-card-header{
    padding-bottom: 20px;
    justify-content: center;
}

mat-card{
    width: 250px;
    margin-right: 20px;
    max-height: 230px;
}


.father{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(223, 223, 223);
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    min-height: 80%;
    width: 90%;
    padding-top: 50px;
}

.content{
    display: flex;
    justify-content: space-between;
}
